<configuration>
	<configSections>
		<sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="webPages:Enabled" value="false"/>
		<add key="ElasticClient:Host" value="localhost"/>
		<add key="ElasticClient:Port" value="9200"/>
		<add key="ElasticClient:Username" value=""/>
		<add key="ElasticClient:Password" value=""/>
	</appSettings>
	<system.web>
		<compilation debug="true">
			<buildProviders>
				<add extension=".cshtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyCSharpRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders"/>
				<add extension=".vbhtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyVisualBasicRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders"/>
			</buildProviders>
		</compilation>

		<httpHandlers>
			<add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
		</httpHandlers>
	</system.web>
	<system.web.webPages.razor>
		<pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase">
			<namespaces>
				<add namespace="Nancy.ViewEngines.Razor"/>
			</namespaces>
		</pages>
	</system.web.webPages.razor>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
		</handlers>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
