<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>	
	<appSettings>
		<add key="ElasticClient:Host" value="10.0.0.4" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="ElasticClient:Username" value="es_read" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="ElasticClient:Password" value="Password123" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	</appSettings>
</configuration>