<!doctype html>
<html>
<head>
	<title>NuSearch</title>
	<link rel="stylesheet" href="~/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/main.css">
</head>
<body>
	@RenderBody()
	<script src="~/js/jquery.min.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/typeahead.bundle.min.js"></script>
	<script src="~/js/search.js"></script>
</body>
</html>