<!doctype html>
<html>
<head>
	<title>NuSearch</title>
	<link rel="stylesheet" href="~/css/nusearch.min.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
@RenderBody()
<script src="~/js/nusearch.min.js"></script>
</body>
</html>