h1 > a
{
	text-decoration: none;
	color: inherit;
}

h1 > a:hover
{
	text-decoration: none;
	color: inherit;
}

.bound-container
{
	width:80%;
	min-width:790px;
	margin-left:auto;
	margin-right:auto;
}
.glyphicon
{
	top:3px;
}

.pagination
{
	margin:0;
	font-size:20px;
}

.label-select 
{
	color: #777;
	font-weight: normal;
}

.header-site
{
	background: #004880;
	color:white;
	padding-top:20px;
}
.header-site h1
{
	font-variant: small-caps;
}
.header-site input
{
	font-size:24px;
	padding:20px;
}
.header-site button
{
	font-size:20px;
}
.header-site .bound-container
{
	background-image: url('/images/logo.png');
	background-repeat: no-repeat;
	padding-left:160px;
	padding-bottom:40px;
	background-position-x: 10px;
}
.header-site-sub
{
	border:0px;
	border-bottom: 1px solid #cccccc;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 63%, rgba(239,239,239,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(63%, rgba(255,255,255,1)), color-stop(100%, rgba(239,239,239,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 63%, rgba(239,239,239,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 63%, rgba(239,239,239,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 63%, rgba(239,239,239,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 63%, rgba(239,239,239,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef', GradientType=0 );
}
.header-site-sub h2,
.header-site-sub h3,
.header-site-sub h4
{
	margin-top: 0px;
	margin-bottom: 0px;
}
.header-site-sub h2
{
	margin-top:20px;
}

.panel-info,
.panel-info>.panel-heading
{
	border-color:#004880;
	background: #004880;
	color: white;
	font-size:18px;
}

.list-group-item-warning
{
	background-color:#f0ad4e;
	color:white !important;
	font-weight: bold;
	
}
a.list-group-item-warning:hover
{
	background-color:#ec971f;
}

.search-result
{
	border-bottom:1px solid #efefef;
	display:block;
	padding-bottom: 20px;
}
.search-result:last-child
{

	border-bottom:0;
}
.search-result .text-info
{
	color:#004880;
	font-weight: bold;
}
.search-result h4
{
	margin-top:20px;
}
.search-result h4.text-humble
{
	color:#777;
}
.search-result h4.text-sub
{
	margin-top:10px;
	font-variant: small-caps;
}

.search-result:hover
{
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 80%, rgba(239,239,239,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(80%, rgba(255,255,255,1)), color-stop(100%, rgba(239,239,239,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 80%, rgba(239,239,239,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 80%, rgba(239,239,239,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 80%, rgba(239,239,239,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 80%, rgba(239,239,239,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef', GradientType=0 );
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}
.search-result:hover .text-info
{
	color: #ec971f;
}






#query-container
{
	margin:0.67em 0;
}
.aggregation-container .panel-body
{
	padding:0px;
}
.label
{
	display:inline-block;
	white-space: normal;
}
.label-lg
{
	font-size:15px;
}

#search-criteria td {
	padding-left:0px;	
	padding-right:0px;

}
#search-criteria .label a {
	color:white;
	top:3px;
}
#search-criteria .label
{
	vertical-align: middle;
}

.twitter-typeahead { 
	display:block !important;
    width: 100%; 
    height:100%;

}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-dropdown-menu {
  width: 100%;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
	top:40px !important;
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}
.tt-suggestion .text-primary 
{
	color: #004880;
}
.tt-suggestion .text-humble
{
	color: #777;
}
.tt-cursor .text-humble
{

	color:white !important;
}
.tt-hint
{
	color: #777;
}

.tt-suggestion.tt-cursor .text-primary,
.tt-suggestion.tt-cursor {
	background: #004880;
	color:white !important;
}

.tt-suggestion p {
  margin: 0;
}
.tt-dropdown-menu .lead {
	padding: 3px 20px;
	color:#999;
	font-size: 24px; 
	font-variant:small-caps;
}
